body {
    font: 12px Verdana, Arial, sans-serif;
    background: #1a1a1a;
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
}
h3{
    font-size: 24px;
}
p {
    margin: 0 0 10px;
}
.container {
    display: flex;
    justify-content: start;
    align-items: start;
}
#logo {
    position: absolute;
    left: 170;
    top: 7;
    margin: 22px 0 23px 0;
}
.logo{
    display: block;
    float: left;
}
.logo img {
    width: 280px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 120;
    width: 100%;
    height: 40px;
    background: rgba(38, 38, 38, 0.8);
}
.item{
    float: left;
    position: relative;
    text-transform: uppercase;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
}
.item a{
    color: white;
}
.item a:hover{
    text-decoration: underline;
}
.heading1{
    margin: 40 10 10 10;
    font-size: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'MyriadPro', Helvetica, Arial, sans-serif;
}
.breadcrumb {
    background: none;
    color: #CCC;
    font-size: 13px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 8px 10px;
    list-style: none;
    border-radius: 5px;
    clear: both;
}
.breadcrumb a {
    color: #CCC;
    text-transform: uppercase;
}
.breadcrumb a:last-child {
    color: #75c0f2;
}
.full-info{
    display: flex;
}
.product{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.product-info{
    background: #2c2c2c;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 20px 0;
    width: 400px;
    height: 400px;
}
.ortherInfo {
    font-size: 11px;
    color: #fff;
    overflow-y: auto;
    height: 142px;
    width: 340px;
}
.download-button{
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 25px;
    padding: 10px;
    border: 2px solid #75c0f2;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}
.download-button a{
    color: #75c0f2;
}
.soldout{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: red;
    font-style: italic;
}
.product-info h3{
    margin: 0;
    color: #75c0f2;
    margin-bottom: 10px;
}
.text-color-three{
    color: #75c0f2;
}
.text-color-three p {
    margin: 0 0 10px;
}